* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #5f27cd;
    color: rgb(255, 255, 255);
    padding: 16px 0;
    border-bottom: 16px solid #341f97;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    text-align: center;
    background-color: #c8d6e5;
    padding: 16px 0;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

form input, button {
    padding: 8px ;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

#botao-cancelar {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    height: 100%;
}

.imagemLink {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.imagemLink a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .imagemLink {
    opacity: 1;
}